<h1 class="title">Dependencias</h1>

<table class ="table1">
  <tr class="table_header">
    <th>Abbr</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalogs_units.each do |catalogs_unit| %>
  <tr class="table_content">
    <td><%= catalogs_unit.abbr %></td>
    <td><%= catalogs_unit.name %></td>
    <td><%= link_to 'Ver', catalogs_unit %></td>
    <td><%= link_to 'Modificar', edit_catalogs_unit_path(catalogs_unit) %></td>
    <td><%= link_to 'Editar', catalogs_unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Dependencia', new_catalogs_unit_path %>

<br />