<%= form_for(@administration_user_hierachy) do |f| %>
  <% if @administration_user_hierachy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administration_user_hierachy.errors.count, "error") %> prohibited this administration_user_hierachy from being saved:</h2>

      <ul>
      <% @administration_user_hierachy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />    
    <%= select :administration_user_hierachy , :user_id, Administration::User.find(:all).collect{|p| [p.name, p.id]}%>
  </div>
  <div class="field">
    <%= f.label :helper_id %><br />
    <%= select :administration_user_hierachy , :helper_id, Administration::User.find(:all).collect{|p| [p.name, p.id]}%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
