<h1 class="title">Jerarquías de usuario</h1>

<table class ="table1">
  <tr class="table_header">
    <th>Usuario</th>
    <th>Asistente</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @administration_user_hierachies.each do |administration_user_hierachy| %>
  <tr>
    <td><%= administration_user_hierachy.user.name %>
      
    </td>
    <td><%= administration_user_hierachy.userhelper.name %></td>
    <td><%= link_to 'Ver', administration_user_hierachy %></td>
    <td><%= link_to 'Modificar', edit_administration_user_hierachy_path(administration_user_hierachy) %></td>
    <td><%= link_to 'Eliminar', administration_user_hierachy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Jerarquia', new_administration_user_hierachy_path %>

<br />