<h1 class="title">Tipo de comentario</h1>
<p id="notice"><%= notice %></p>

<table class="table1">
  <tr>
    <td width="90" align="right">
      Abreviación:
    </td>
    <td>
      <%= @catalogs_comment_type.abbr %>
    </td>
  </tr>
  <tr>
    <td width="90" align="right">
      Descripción:
    </td>
    <td>
      <%= @catalogs_comment_type.name %>
    </td>
  </tr>
</table>

<br />

<%= link_to 'Modificar', edit_catalogs_comment_type_path(@catalogs_comment_type) %> |
<%= link_to 'Regresar', catalogs_comment_types_path %>

<br />