<%= form_for(@requests_support_request) do |f| %>
  <% if @requests_support_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requests_support_request.errors.count, "error") %> prohibited this requests_support_request from being saved:</h2>

      <ul>
      <% @requests_support_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table class="table1" width="950">
    <tr class="table_content_c2">
      <td width="80" align="right" >
        <%= f.label 'Nombre:' %><br />
      </td>
      <td align="left">
        <%= f.text_field :name , :size =>60 %>
      </td>
    </tr>

    <tr class="table_content_c2">
       <td width="80" align=right >
          Ubicación Fisica:
       </td>
       <td align="left">
          <%= f.text_area :req_ubication, :size => '98x2'%>
       </td>
    </tr>

    <tr  class="table_content_c3">
      <td width="80" align="right">
        <%= f.label 'Correo:' %><br />
      </td>
      <td align="left">
        <%= f.text_field :email , :size =>35 %>
      </td>
    </tr>

    <tr class="table_content_c2">
      <td width="80" align="right">
        <%= f.label 'Ubicación:' %><br />
      </td>
      <td align="left">
        <%= select :requests_administration_support_request , :ubication_id, Catalogs::Ubication.find(:all).collect{|p| [p.name, p.id]}%>
      </td>
    </tr>

  <tr class="table_content_c3">
    <td width="80" align="right" valign="top">
      <%= f.label :Description, 'Descripción' %>
    </td>
    <td align="left">
      <%= f.text_area :description,  :size => '98x8'  %>
    </td>
  </tr>




</table>
  
<hr />

  
<%= f.submit "Enviar", :id=>'requests_support_requests',:controller => '/requests/support_requests'%>
  
<% end %>
