<h1 class="title">Solicitudes de soporte</h1>


<div id="content_center">
<table class ="table1" width="990">
  <tr class="table_header">
    <th>FECHA.</th>
    <th width ="130">FOLIO.</th>
    <th width ="120">SOLICITANTE</th>
    <th width ="420">DESCRIPCION</th>
    <th>ESTAT.</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests_support_requests.each do |requests_support_request| %>
  <tr>
    <td><%= requests_support_request.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= requests_support_request.num_sequence %></td>
    <td><%= requests_support_request.name %></td>        
    <td><%= requests_support_request.description_left(50) %></td>
    <td align ="center" ><%= image_tag(requests_support_request.img_status(requests_support_request.status_id.to_i)) %></td>
    <td><%= link_to 'Ver', requests_support_request %></td>
    <td><%= link_to 'Modificar', edit_requests_support_request_path(requests_support_request) %></td>
    <td><%= link_to 'Eliminar', requests_support_request, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Escalar', :controller => "support_requests", :action => "scale", :id => requests_support_request.id %></td>
  </tr>
<% end %>
</table>

</div>

<hr/>

<%= link_to 'Nueva sol. de soporte', new_requests_support_request_path, :class => 'link-button' %>
