<h1 class="title">Solicitudes de soporte</h1>

<table class ="table1" width="990">
  <tr class="table_header">
    <th>FEC. MOV.</th>    
    <th>UBIC.</th>
    <th>SOLICITANTE</th>
    <th>ATIENDE</th>    
    <th>DESCRIPCION</th>    
    <th>ESTATUS</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests_support_requests.each do |requests_support_request| %>
  <tr>
    <td><%= requests_support_request.status_chng_date %></td>    
    <td><%= requests_support_request.ubication.abbr %></td>
    <td><%= requests_support_request.name %></td>    
    <td><%= requests_support_request.atiende %></td>
    <td><%= requests_support_request.description_left(38) %></td>
    <td><%= requests_support_request.requests_status.abbr %></td>
    <td><%= link_to 'Ver', requests_support_request %></td>
    <td><%= link_to 'Modificar', edit_requests_support_request_path(requests_support_request) %></td>
    <td><%= link_to 'Eliminar', requests_support_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>



<hr/>

<%= link_to 'Nueva sol. de soporte', new_requests_support_request_path, :class => 'link-button' %>
