<h1 class="title">Solicitudes de soporte</h1>

<table>
  <tr>
    <th>Request no</th>
    <th>Ubication</th>
    <th>Helper</th>
    <th>Support type</th>
    <th>Name</th>
    <th>Email</th>
    <th>Description</th>
    <th>Tech description</th>
    <th>Status chng date</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests_support_requests.each do |requests_support_request| %>
  <tr>
    <td><%= requests_support_request.request_no %></td>
    <td><%= requests_support_request.ubication_id %></td>
    <td><%= requests_support_request.helper_id %></td>
    <td><%= requests_support_request.support_type_id %></td>
    <td><%= requests_support_request.name %></td>
    <td><%= requests_support_request.email %></td>
    <td><%= requests_support_request.description %></td>
    <td><%= requests_support_request.tech_description %></td>
    <td><%= requests_support_request.status_chng_date %></td>
    <td><%= requests_support_request.status_id %></td>
    <td><%= link_to 'Show', requests_support_request %></td>
    <td><%= link_to 'Edit', edit_requests_support_request_path(requests_support_request) %></td>
    <td><%= link_to 'Destroy', requests_support_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Support request', new_requests_support_request_path %>
