<h1>Escalar solicitud de servicio</h1>

<table width="950">
<tr class="table_content_c2">

  <td width="80" align=right >
     <b>Folio:</b>
  </td>
  <td align="left">
     <%= @requests_support_request.num_sequence  %>
  </td>
  <td> <b> Creado el:</b></td>
  <td align="left"><%=  @requests_support_request.created_at.strftime("%m/%d/%Y") %></td>
  <td> <b> Ultimo cambio:</b></td>
  <td align="left"><%=  @requests_support_request.status_chng_date.strftime("%m/%d/%Y") %></td>
</tr>
</table>

<table width="950">
<tr class="table_content_c2">
  <td width="80" align=right >
     <b>ID:</b>
  </td>
  <td align="left">
     <%= @requests_support_request.request_no %>
  </td>
  <td></td>
  <td></td>
</tr>

<tr class="table_content_c3">
  <td width="30" align=right >
    <b>Ubicación:</b>
  </td>
  <td align="left">
    <%= @requests_support_request.ubication.name %>
  </td>
  <td width="60" align=right>
    <b>Atiende:</b>
  </td>
  <td align ="left">
    <%= @requests_support_request.helper %>
  </td>
</tr>


<tr class="table_content_c2">
  <td width="30" align=right >
    <b>Nombre:</b>
  </td>
  <td align="left">
    <%= @requests_support_request.name %>
  </td>
  <td width="70" align=right>
    <b>Correo E.:</b>
  </td>
  <td align ="left">
    <%= @requests_support_request.email %>
  </td>
</tr>
</table>

<table width="950">
<tr class="table_content_c3">
  <td width="80" align=right >
     <b>Tipo de soporte:</b>
  </td>
  <td align="left">
     <%= @requests_support_request.support_type %>
  </td>
</tr>

<tr class="table_content_c2">
  <td width="80" align=right >
     <b>Descripción:</b>
  </td>
  <td align="left">
     <%= @requests_support_request.description %>
  </td>
</tr>


<tr class="table_content_c3">
  <td width="80" align=right >
     <b>Descripción Técnica:</b>
  </td>
  <td align="left">
     <%= @requests_support_request.tech_description %>
  </td>
</tr>

<%= form_for(@requests_support_request) do |f| %>
<tr class="table_content_c2">
  <td width="80" align=right >
     <b>Escalar a:</b>
  </td>
  <td align="left">
     <%= select :requests_support_request, :helper_id,
      Administration::UserHierachy.find (:all, :conditions => {:user_id => Administration::UserSession.find.record.attributes['id']}).collect{|p| [p.userhelper.name, p.helper_id]}%>
  </td>
</tr>


</table>

<hr/>

  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>

<%= link_to 'Cancelar', requests_support_requests_path %>
