<h1>Escalar solicitud de servicio</h1>

<p>
  <b>Request no:</b>
  <%= @requests_support_request.request_no %>
</p>

<p>
  <b>Ubication:</b>
  <%= @requests_support_request.ubication_id %>
</p>

<p>
  <b>Helper:</b>
  <%= @requests_support_request.helper_id %>
</p>

<p>
  <b>Support type:</b>
  <%= @requests_support_request.support_type_id %>
</p>

<p>
  <b>Name:</b>
  <%= @requests_support_request.name %>
</p>

<p>
  <b>Email:</b>
  <%= @requests_support_request.email %>
</p>

<p>
  <b>Description:</b>
  <%= @requests_support_request.description %>
</p>

<p>
  <b>Tech description:</b>
  <%= @requests_support_request.tech_description %>
</p>

<p>
  <b>Status chng date:</b>
  <%= @requests_support_request.status_chng_date %>
</p>

<p>
  <b>Status:</b>
  <%= @requests_support_request.status_id %>
</p>


<table width="950">
    <tr class="table_content_c2">
      <td width="80" align="right" >
        <%= "Folio Sol.:" %><br />
      </td>
      <td align="left">
        <%= @requests_support_request.request_no %>
      </td>
      <td width="80" align="right" >
        <%= "Ubicación" %><br />
      </td>
      <td width="80" align="right" >
        <%= @requests_support_request.ubication.name %><br />
      </td>


    </tr>
    <tr  class="table_content_c3">
      <td width="80" align="right">
        <%= "Solicitante" %><br />
      </td>
      <td align="left">
        <%= @requests_support_request.name %>
      </td>
    </tr>
</table>

<%= link_to 'Show', @requests_support_request %> |
<%= link_to 'Back', requests_support_requests_path %>
