<head>
    <script type="text/javascript">
    $(document).ready(function(){

     //for table row
     $("tr:even").css("background-color", "#E4E6E5");
     $("tr:odd").css("background-color", "#EFEFEF");

     return false;
      });
    </script>

</head>


<h1>Solicitud de servicio</h1>

<p id="notice"><%= notice %></p>


<table class="table1"  width="950">
<tr>
  <td width="80" align=right >
     <b>Folio:</b>
  </td>
  <td align="left">
     <%= @requests_support_request.num_sequence  %>
  </td>
  <td> <b> Creado el:</b></td>
  <td align="left"><%=  @requests_support_request.created_at.strftime("%d/%m/%Y") %></td>
  <td> <b> Ultimo cambio:</b></td>
  <td align="left"><%=  @requests_support_request.status_chng_date.strftime("%d/%m/%Y") %></td>
</tr>


<tr>
  <td width="30" align=right >
    <b>Ubicación:</b>
  </td>
  <td align="left">
    <%= @requests_support_request.ubication_name %>
  </td>
  <td width="60" align=right>
    <b>Atiende:</b>
  </td>
  <td align ="left" colspan="3">
    <%= @requests_support_request.helper %>
  </td>
</tr>


<tr>
  <td width="30" align=right >
    <b>Nombre:</b>
  </td>
  <td align="left">
    <%= @requests_support_request.name %>
  </td>
  <td width="70" align=right>
    <b>Correo E.:</b>
  </td>
  <td align ="left" colspan="5">
    <%= @requests_support_request.email %>
  </td>
</tr>


<% @requests_request_req_ubication.each do |requests_request_req_ubication| %>

  <tr>
    <td width="80" align=right>
      <b>Ubicación Fisica:</b>
    </td>
    <td align="left" colspan="3">
      <%= raw(@requests_support_request.request_ubication(requests_request_req_ubication.commentaries)) %>
    </td>
  </tr>
 
<% end %>


<tr>
  <td width="80" align=right >
     <b>Tipo de soporte:</b>
  </td>
  <td align="left" colspan="5">
     <%= @requests_support_request.support_type %>
  </td>
</tr>

<tr>
  <td width="80" align=right >
     <b>Descripción:</b>
  </td>
  <td align="left" colspan="5">
     <%= raw(@requests_support_request.text_to_html(@requests_support_request.description)) %>
  </td>
</tr>


<tr>
  <td width="80" align=right >
     <b>Descripción Técnica:</b>
  </td>
  <td align="left" colspan="5">
     <%= raw(@requests_support_request.text_to_html(@requests_support_request.tech_description)) %>
  </td>
</tr>

</table>

<hr size="0" width="810"></hr>


<h3>Comentarios:</h3>
<%= will_paginate @requests_request_commentaries %>
<% @requests_request_commentaries.each do |requests_request_commentary| %>

 <table class="table3"  width="950">
  <tr>
    <td rowspan="2" width="100" align="center"  class="cell1">
      <%= requests_request_commentary.created_at.strftime("%d/%m/%Y %I:%M%p") %>
    </td>    
    <td width="80" align=right >
      <b>Usuario:</b>
    </td>
    <td align="left">
      <%= requests_request_commentary.verifica_usuario(requests_request_commentary.user_id) %>
    </td>
  </tr>
 
  <tr>
    <td align="left" colspan="2">
      <%= raw(requests_request_commentary.valida_comentario(requests_request_commentary.commentaries)) %>
    </td>
  </tr>
 </table>

<% end %>

<hr />

<table class="table1" width="950">
<%= form_for(@requests_support_request) do |f| %>
  <% if @requests_support_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requests_support_request.errors.count, "error") %> prohibited this requests_support_request from being saved:</h2>

      <ul>
      <% @requests_support_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<tr>
   <td width="80" align=right >
     <b>No. Solicitud:</b>
  </td>
  <td align="left">
    <%= f.text_field :num_request, :size=>9 %>
  </td>
</tr>
<tr>
  <td width="80" align=right >
     <b>Comentario:</b>
  </td>
  <td align="left">
    <%= f.text_area :commentaries_to_add, :size => '100%'%>
  </td>
</tr>
</table>
  
  <div class="actions">
     <td  ><%= f.submit 'Agregar comentario', :name => 'comment', :method=>:get %></td>
  </div>

<% end  %>

<%= link_to 'Cambiar', edit_requests_support_request_path(@requests_support_request),:class => 'link-button' %> |
<%= link_to 'Regresar', requests_support_requests_path,:class => 'link-button' %>

