<%= form_for(@catalogs_supplier) do |f| %>
  <% if @catalogs_supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalogs_supplier.errors.count, "error") %> prohibited this catalogs_supplier from being saved:</h2>

      <ul>
      <% @catalogs_supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table width="990" class="table1">
    <tr>
      <td width="80" align="right">
        <%= f.label 'No. Prov.:' %><br />
      </td>
      <td>
        <%= f.text_field :abbr , :size => 6%>
      </td>
    </tr>
    <tr>
      <td align="right">
        <%= f.label 'Nombre Comercial:' %><br />
      </td>
      <td>
        <%= f.text_field :trade_name, :size=>'70%' %>
      </td>
    </tr>
    <tr>
      <td align="right">
        <%= f.label 'Razón Social:' %><br />
      </td>
      <td>
        <%= f.text_field :company_name, :size=>'70%' %>
      </td>
    </tr>

    <tr>
      <td align="right">
        <%= f.label 'Contacto:' %><br />
      </td>
      <td>
        <%= f.text_field :contact_name, :size=>'70%' %>
      </td>
    </tr>
    <tr>
      <td align="right">
        <%= f.label 'Dirección:' %><br />
      </td>
      <td>
        <%= f.text_field :address, :size=> '70%' %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Tel. Celular:' %><br />
      </td>
      <td>
        <%= f.text_field :mobile_phone, :size=>'30%'%>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Tel. Oficina:' %><br />
      </td>
      <td>
        <%= f.text_field :business_phone, :size=>'30%'%>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'R.F.C.' %><br />
      </td>
      <td>
        <%= f.text_field :taxpayer_reg, :size=>'30%' %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Persona Fisica/Moral:' %><br />
      </td>
      <td>
        <%= f.text_field :taxpayer_type, :size=>'20%' %>
      </td>
    </tr>
</table>

  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>
