<%= form_for(@administration_user_session) do |f| %>
  <% if @administration_user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administration_user_session.errors.count, "error") %> prohibited this administration_user from being saved:</h2>

      <ul>
      <% @administration_user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br/>

<div id="login">
  <table>
    <tr>
      <td><%= f.label :username, 'Usuario:' %></td>
      <td><%= f.text_field :username, :size => '15' %></td>
    </tr>
    <tr>
      <td><%= f.label :password, 'Contrseña:' %></td>
      <td><%= f.password_field :password , :size => '15'%></td>
    </tr>
    <tr>
      <td></td>
      <td align="center"><%=  f.submit "Entrar" %></td>
    </tr>
  </table>
    
  
  <br />
  
</div>



<% end %>