<h1 class="text_underline_rigth">Acceso al sistema</h1>


<%= form_for(@administration_user_session) do |f| %>
  <% if @administration_user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administration_user_session.errors.count, "error") %> prohibited this administration_user from being saved:</h2>

      <ul>
      <% @administration_user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<br/>

    <table id="table-login" >
      <tr>
	<td class="table_header_h2">
	  <label for="Usuario">Usuario:</label>
	</td>
	<td align="left" width="200">
	  <%= f.text_field :username, :size => 12 %><br />
	</td>
      </tr>
      <tr>
	<td class="table_header_h2">
	  <label for="Contrasena">Contraseña:</label>
	</td>
	<td >
	  <%=   f.password_field :password, :size => '12' %><br />
	</td>
      </tr>

      <tr>
        <td>
      
        </td>
        <td align="right">
          <p><%=  f.submit "Entrar", :class => 'link-button' %></p>
        </td>
      </tr>
    </table>

<% end %>