<head>
  <script type="text/javascript">
    $(document).ready(function(){



      $(".combo").change(function(){

        var temp = new Array();
        var i=0;
        b = $(".combo  option:selected").text();
        temp = b.split('$');

        var ls_importe =  temp[1];
        i = ls_importe.indexOf("|");
        ls_importe = ls_importe.substring(0, i);
        //alert(temp[0]);
        var x=(document).getElementById('importe');
        x.value = ls_importe;   //temp[1];


        //--Unidad de medida
        temp = b.split('|');
        var x=(document).getElementById('unit_measure');
        x.value = temp[1];

        //$('.tsupplies').append("<tr><td> liliana </td></tr>");

        //alert(x.value);
        //$(this).hide() eOK
        //$("ul").append("<li>Ultima</li>")
        //$(".tipo").hide() OK


        return false;
      });


    });
    </script>

</head>



<div id="materiales">
  <% form_for(Budgets::BudgetSupply.new, :remote=>true) do |f2| %>
   <table>
     <tr>
       <td>
         <div class="combo">
        <%= f2.label :description, "Material:" %> <%= select  :budgets_budget_supply , :description,  Catalogs::Supply.find(:all,  :conditions => "type_supply = 1").collect{|p| [p.description + " $ " + p.unit_cost.to_s + "|" + p.unit_measure, p.description]},{:prompt => 'Seleccione el Material'},:onclick => "document.getElementById('cantidad').value=0; return true;" %>
        </div>
       </td>
       <td>
        <%= f2.label :quantity, "Cantidad:" %>
        <%= f2.text_field :quantity, :size=>"8", :style => "text-align: right", :id=>"cantidad" %>
       </td>
       <td>
        <%= f2.label :unit_cost, "Importe:" %>
        <%= f2.text_field :unit_cost, :size=>"8", :style => "text-align: right", :id=>"importe" %>
       </td>
       <td>
        <%= f2.hidden_field :type_supply, :id=>"type_supply", :value=>"1"  %>
        <%= f2.hidden_field :budget_id, :id=>"budget_id", :value=>@budgets_budget.id  %>
        <%= f2.hidden_field :unit_measure, :id=>"unit_measure" %>
       </td>
       <td><%= submit_tag "Agregar", :name=>'material' %></td>
       
     </tr>
     <tr>
     </tr>
   </table>
  <% end %>
</div>