<head>
  <script type="text/javascript">
    $(document).ready(function(){

      $("#other_man").hide("fast")
      $(".combo_man").change(function(){
        var temp = new Array();
        var i=0;
        b = $(".combo_man  option:selected").text();
        if (b.substr(0,4) == "Otro")
        {
        $("#other_man").show("fast")
        } else $("#other_man").hide("fast");


        temp = b.split('$');

        var ls_importe =  temp[1];
        i = ls_importe.indexOf("|");
        ls_importe = ls_importe.substring(0, i);
        //alert(temp[0]);
        var x=(document).getElementById('importe_man');
        x.value = ls_importe;   //temp[1];


        //--Unidad de medida
        temp = b.split('|');
        var x=(document).getElementById('unit_measure_man');
        x.value = temp[1];

        //$('.tsupplies').append("<tr><td> liliana </td></tr>");

        //alert(x.value);
        //$(this).hide() eOK
        //$("ul").append("<li>Ultima</li>")
        //$(".tipo").hide() OK


        return false;
      });


    });
    </script>
</head>

<div id="manworkship">
  <hr />
  <h3>Mano de Obra</h3>
  <% form_for(Budgets::BudgetSupply.new, :remote=>true, :action=>'/budgets/budgets',:controller=>'/budgets/budgets') do |f3| %>
   <table class="table3">
     <tr>
       <td>
         <div class="combo_man">
         <%= select  :budgets_budget_supply2 , :description,  Catalogs::Supply.find(:all,  :conditions => "type_supply = 2").collect{|p| [p.description + " $ " + p.unit_cost.to_s + "|" + p.unit_measure, p.description]},{:prompt => 'Seleccione Mano de Obra'},:onclick => "document.getElementById('cantidad_man').value=0; return true;" %>
        </div>
          <%= f3.text_field :other_material, :id=>'other_man',:size=>"35"%>
       </td>
       <td>
        <%= f3.label :quantity, "Cantidad:" %>
        <%= f3.text_field :quantity, :size=>"8", :style => "text-align: right", :id=>"cantidad_man" %>
       </td>
       <td>
        <%= f3.label :unit_cost, "Importe:" %>
        <%= f3.text_field :unit_cost, :size=>"8", :style => "text-align: right", :id=>"importe_man" %>
       </td>
       <td>
        <%= f3.hidden_field :type_supply, :id=>"type_supply", :value=>"2"  %>
        <%= f3.hidden_field :budget_id, :id=>"budget_id", :value=>@budgets_budget.id  %>
        <%= f3.hidden_field :unit_measure, :id=>"unit_measure_man" %>
       </td>
       <td><%= f3.submit "Agregar", :name=>'manworkship', :remote=>true,:controller=>'/budgets/budgets' %></td>
     </tr>
     <tr>
     </tr>
   </table>
  <% end %>  
</div>
