

<table width="950">
<tr class="table_content_c2">

  <td width="80" align=right >
     <b>Folio:</b>
  </td>
  <td align="left">
     <%= @budgets_budget.request.num_sequence %>
  </td>

  <td> <b> Creado el:</b></td>
  <td align="left"><%=  @budgets_budget.request.created_at.strftime("%d/%m/%Y") %></td>
  <td> <b> Ultimo cambio:</b></td>
  <td align="left"><%=  @budgets_budget.request.status_chng_date.strftime("%d/%m/%Y") %></td>
</tr>
</table>


<table width="950">

<tr class="table_content_c3">
  <td width="30" align=right >
    <b>Ubicación:</b>
  </td>
  <td align="left">
    <%= @budgets_budget.request.ubication_name %>
  </td>
  <td width="60" align=right>
    <b>Atiende:</b>
  </td>
  <td align ="left">
    <%= @budgets_budget.request.helper %>
  </td>
</tr>


<tr class="table_content_c2">
  <td width="30" align=right >
    <b>Nombre:</b>
  </td>
  <td align="left">
    <%= @budgets_budget.request.name %>
  </td>
  <td width="70" align=right>
    <b>Correo E.:</b>
  </td>
  <td align ="left">
    <%= @budgets_budget.request.email %>
  </td>
</tr>
</table>


<table width="950">
<tr class="table_content_c2">
  <td width="80" align=right >
     <b>Descripción:</b>
  </td>
  <td align="left">
     <%= raw(@budgets_budget.request.text_to_html(@budgets_budget.request.description)) %>
  </td>
</tr>

</table>


