<head>
  
  <script type="text/javascript">
    $(document).ready(function(){

      
      $('input[name=boton_mat]').attr('checked', true); //Selecionar boton de materiales
      $('input[name=boton_work]').attr('checked', false); //Selecionar boton de mano de obra

      $("#txt_analista").hide(); //-- Ocultar Texto de Autorización 01 (analista)
      $('input[name=chk_analista]').attr('checked', false); //Checked false

      $("#txt_aut_02").hide(); //-- Ocultar Texto de Autorización 02 
      $('input[name=chk_aut_02]').attr('checked', false);

      $("#txt_aut_03").hide(); //-- Ocultar Texto de Autorización 03
      $('input[name=chk_aut_04]').attr('checked', false);

      $("#txt_aut_05").hide(); //-- Ocultar Texto de Autorización 05
      $('input[name=chk_aut_05]').attr('checked', false);


      //Checkbox Autorización analista (Ocultar/Mostrar)
      $("#analista").change(function(){
         var x = $('input[name=chk_analista]').is(':checked')
         if (x == true)
         {
           $("#txt_analista").show();
         }else $("#txt_analista").hide();
         
       });

      //Checkbox Autorización 02 coordinador (Ocultar/Mostrar)
      $("#aut_02").change(function(){
         var x = $('input[name=chk_aut_02]').is(':checked')
         if (x == true)
         {
           $("#txt_aut_02").show();
         }else $("#txt_aut_02").hide();

       });

      //Checkbox Autorización 02 coordinador (Ocultar/Mostrar)
      $("#aut_02").change(function(){
         var x = $('input[name=chk_aut_02]').is(':checked')
         if (x == true)
         {
           $("#txt_aut_02").show();
         }else $("#txt_aut_02").hide();

       });


      //Checkbox Autorización 03 coordinador (Ocultar/Mostrar)
      $("#aut_03").change(function(){
         var x = $('input[name=chk_aut_03]').is(':checked')
         if (x == true)
         {
           $("#txt_aut_03").show();
         }else $("#txt_aut_03").hide();

       });


      //Checkbox Autorización 05 coordinador (Ocultar/Mostrar)
      $("#aut_05").change(function(){
         var x = $('input[name=chk_aut_05]').is(':checked')
         if (x == true)
         {
           $("#txt_aut_05").show();
         }else $("#txt_aut_05").hide();

       });



      //Radio button materiales
      $("#rbt_mat").change(function(){
         $("#materiales").show();
         $("#workmanship").hide();
         $('input[name=boton_work]').attr('checked', false); //boton de mano de obra
         //$("#workmanship").style ="display: none";
         //$("#materiales").attr('checked', true);
         var x=(document).getElementById('work_quantity');
         x.value = 0;   // Mano de Obra Cantidad = 0
       });

      //Radio button Mano de Obra
      $("#rbt_work").click(function(){
         $("#materiales").hide()
         //$("#materiales").style ="display: none";
         $("#workmanship").show()
         $('input[name=boton_mat]').attr('checked', false); //boton de mano de obra
         //$("#workmanship").attr('checked', true);
         $("#mat_quantity").value = 0;
         var x=(document).getElementById('mat_quantity');
         x.value = 0;   // Material Cantidad = 0

       });

      $("#mat_other").hide()
      $("#work_other").hide()

      $(".combo").change(function(){
        var temp = new Array();
        var i=0;
        b = $(".combo  option:selected").text();
        if (b.substr(0,4) == "Otro")
        {
          $("#mat_other").show("fast")
          $("#mat_unit").attr("disabled", "");
        } else
          {
            $("#mat_other").hide("fast");
            $("#mat_unit").attr("disabled", "disabled");
          }


        temp = b.split('$');

        var ls_importe =  temp[1];
        if (ls_importe != null)
        {
           i = ls_importe.indexOf("|");
           ls_importe = ls_importe.substring(0, i);
        }else
          ls_importe = 0;
        //alert(temp[0]);
        var x=(document).getElementById('mat_import');
        x.value = ls_importe;   //temp[1];


        //--Unidad de medida
        temp = b.split('|');
        var x=(document).getElementById('mat_unit');
        x.value = temp[1];
 



        //var x=(document).getElementById('mat_quantity');
        //x.value = 1;



        return false;
      });

      $(".combo_work").change(function(){
        var temp = new Array();
        var i=0;
        b = $(".combo_work  option:selected").text();
        if (b.substr(0,4) == "Otro")
        {
          $("#work_other").show("fast")
          $("#work_unit").attr("disabled", ""); //Habilitar
        }
        else
        {
          $("#work_other").hide("fast");
          $("#work_unit").attr("disabled", "disabled"); //Deshabilitar
        }


        temp = b.split('$');

        var ls_importe =  temp[1];
        if (ls_importe != null)
        {
          i = ls_importe.indexOf("|");
          ls_importe = ls_importe.substring(0, i);
        }
        else
          ls_importe = 0;
        //alert(temp[0]);
        var x=(document).getElementById('work_import');
        x.value = ls_importe;   //temp[1];


        //--Unidad de medida
        temp = b.split('|');
        var x=(document).getElementById('work_unit');
        x.value = temp[1];
 
        //$('.tsupplies').append("<tr><td> liliana </td></tr>");

        //alert(x.value);
        //$(this).hide() eOK
        //$("ul").append("<li>Ultima</li>")
        //$(".tipo").hide() OK


        return false;
      });

    });


</script>

<%= javascript_include_tag 'jquery-ui-1.8.7.js' %>
<script type="text/javascript">
  //-- Calendario en Español
  jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant',
		nextText: 'Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
         });
        //Calendario
      $(function (){
        $("#budgets_ending_date").datepicker({ showButtonPanel: true , autoSize: true });
      });
</script>
</head>



<% @requests_support_request.id %>
<table class="table1">
<tr>

  <th width="80" align=right >
     <b>Folio:</b>
  </th>
  <td align="left">
     <%= @budgets_budget.request.num_sequence %>
  </td>

  <th> <b> Creado el:</b></th>
  <td align="left"><%=  @budgets_budget.request.created_at.strftime("%d/%m/%Y") %></td>
  <th> <b> Ultimo cambio:</b></th>
  <td align="left"><%=  @budgets_budget.request.status_chng_date.strftime("%d/%m/%Y") %></td>
</tr>

<tr>
  <th width="30" align=right >
    <b>Area Resp.:</b>
  </th>
  <td align="left">
    <%= @budgets_budget.request.ubication_name %>
  </td>
  <th width="60" align=right>
    <b>Atiende:</b>
  </th>
  <td align ="left" colspan="3">
    <%= @budgets_budget.request.helper %>
  </td>
</tr>


<tr class="table_content_c2">
  <th width="30" align=right >
    <b>Nombre:</b>
  </th>
  <td align="left">
    <%= @budgets_budget.request.name %>
  </td>
  <th width="70" align=right>
    <b>Correo E.:</b>
  </th>
  <td align ="left" colspan="3">
    <%= @budgets_budget.request.email %>
  </td>
</tr>


<tr class="table_content_c2">
  <th width="80" align=right >
     <b>Descripción:</b>
  </th>
  <td align="left" colspan="5">
     <%= raw(@budgets_budget.request.text_to_html(@budgets_budget.request.description)) %>
  </td>
</tr>

</table>


<!-- Datos del Presupuesto -->
<%= form_for(@budgets_budget, :remote=> true) do |f| %>

 <div id="errors"></div>

 <%=  f.text_field :support_request_id, :type => "hidden" %>

 <table class="table1">
    <tr>
      <th width="80" align="right" valign="top">
      <b>Descripción Técnica: </b>
      </th>
      <td align="left" colspan="3">
      <%= f.text_area :tech_description,  :size => '87%'  %>
      </td>
    </tr>
    <tr>
      <th width="80" align="right" valign="top">
       <b> Descripción de Trabajos: </b>
      </th>
      <td align="left" colspan="3">
       <%= f.text_area :description,  :size => '87%' %>
      </td>
   </tr>

   <tr>
     <th width="80" align="right">
       <b> Tipo de Soporte:</b>
     </th>
     <td align="left" colspan="3">
       <%= select :budgets_budget , :support_type_id, Catalogs::SupportType.find(:all).collect{|p| [p.name, p.id]}%>
     </td>
   </tr>
   <!-- Inicia If -->
   <% if $display_supplies == 0 %>
     <tr>
     <th width="80" align="right">
       <b> Empresa:</b>
     </th>
     <td align="left">
       <%= select :budgets_budget , :supplier_id, Catalogs::Supplier.find(:all).collect{|p| [p.trade_name, p.id]}%>
     </td>
     <th align="right" width="80">
       <label for="total_cost">Costo:</label>
     </th>
     <td align="left" width="80">
       <%= f.text_field :total_cost, :size=>"13", :style => "text-align: right" %>
     </td>
    </tr>
    </table>
   <% end %>
   <!-- Fin de if -->

   <!-- 1) Mostrar datos si es un presupuesto interno -->
   <% if $display_supplies == 1 %>
     <hr />
     <%= form_tag do %>
       <table>
        <tr>
          <td id="rbt_mat" ><%= radio_button_tag "boton_mat", "1st_button",true %>Materiales</td>
          <td id="rbt_work"><%= radio_button_tag "boton_work", "2nd_button",false %>Mano de Obra</td>
        </tr>
       </table>

       <!-- Area de selección de Materiales -->
       <div id="materiales">
         <table class="table4">
         <tr>
           <td width="100">
             <%= f.label :mat_description, "Material:" %>
           </td>
           <td width="200">
           <div class="combo">
             <%= select  :budgets_budget , :mat_description,  Catalogs::Supply.find(:all,  :conditions => "type_supply = 1").collect{|p| [p.description + " $ " + p.unit_cost.to_s + "|" + p.unit_measure, p.description]},{:prompt => 'Seleccione el Material'},:onclick => "document.getElementById('mat_quantity').value=0; return true;",:width=>35 %>
           </div>
           <%= f.text_field :mat_other, :id=>'mat_other',:size=>"35"%>
           </td>
           <td>
             <%= f.label :mat_quantity, "Cantidad:" %>
           </td>
           <td>
             <%= f.text_field :mat_quantity, :size=>"8", :style => "text-align: right", :id=>"mat_quantity" %>
           </td>
           <tr>
             <td>
              <%= f.label :mat_import, "Importe:" %>
             </td>
             <td>
               <%= f.text_field :mat_import, :size=>"8", :style => "text-align: right", :id=>"mat_import" %>
             </td>
             <td>
              <%= f.label :mat_unit, "Unidad:" %>
             </td>
             <td>
               <%= f.text_field :mat_unit, :size=>"8", :style => "text-align: right", :id=>"mat_unit", :disabled => 'disabled' %>
               <%= f.hidden_field :mat_type, :id=>"type_supply", :value=>"1"  %>
             </td>
             <td><%= f.submit "Agregar", :name=>'material', :remote=>true,  :onclick => "document.getElementById('mat_unit').disabled = false; return true;" %></td>
           </tr>
         </tr>
         </table>
        <hr />
       </div>

       <!-- Area de seleccion de Mano de Obra -->
       <div id="workmanship"  style="display :none;">
         <table class="table4">
         <tr>
           <td width="100">
             <%= f.label :work_description, "Mano de Obra:" %>
           </td>
           <td width="200">
            <div class="combo_work">
             <%= select  :budgets_budget , :work_description,  Catalogs::Supply.find(:all,  :conditions => "type_supply = 2").collect{|p| [p.description + " $ " + p.unit_cost.to_s + "|" + p.unit_measure, p.description]},{:prompt => 'Seleccione Mano de Obra'},:onclick => "document.getElementById('work_quantity').value=0; return true;" %>
            </div>
             <%= f.text_field :work_other, :id=>'work_other',:size=>"35", :style=>"display :none;"%>
           </td>
           <td>
             <%= f.label :work_quantity, "Cantidad:" %>
           </td>
           <td>
             <%= f.text_field :work_quantity, :size=>"8", :style => "text-align: right", :id=>"work_quantity" %>
           </td>
         <tr>
           <td>
             <%= f.label :work_import, "Importe:" %>
           </td>
           <td>
             <%= f.text_field :work_import, :size=>"8", :style => "text-align: right", :id=>"work_import" %>
           </td>
           <td>
             <%= f.label :work_unit, "Unidad:" %>
           </td>
           <td>
            <%= f.text_field :work_unit, :size=>"8", :style => "text-align: right", :id=>"work_unit", :disabled => 'disabled' %>
            <%= f.hidden_field :work_type, :id=>"type_supply", :value=>"2"  %>
           </td>
           <td><%= f.submit "Agregar", :name=>'m_obra', :remote=>true, :onclick => "document.getElementById('work_unit').disabled = false; return true;" %></td>
         </tr>
         </tr>
         </table>
         <hr />
     </div>


     <h3> Materiales</h3>
     <div id="mat_list">
       <%= render :partial => 'supplies'%>
     </div>
     <hr />
     <h3> Mano de Obra</h3>
      <div id="work_list">
       <%= render :partial => 'workmanships'%>
      </div>
    <%end%>
    <!-- Fin de form do-->
  <% end %>
  <!-- Fin de If Presupuesto Interno -->

  <!-- Zona de Autorizaciones -->
  <% if $autorizacion == 1 %>
<div id="Autoriza_01">
  <table width="950" class="Table2">
    <tr>      
      <td>
        <%= f.check_box :chk_analista, :id=>'analista', :name=>'chk_analista', :value=>"" %>
        Liberar presupuesto (Analista)
      </td>
    </tr>
    <tr id="txt_analista">
      <td><%= f.text_area :add_aut_analista,  :size => '100%'%> </td>      
    </tr>
  </table>
</div>
<% end %>

<% if $autorizacion == 2 %>
<div id="Autoriza_02">
  <table width="950" class="Table2">
    <tr>
      <td>        
        <%= f.check_box :chk_aut_02, :id=>'aut_02', :name=>'chk_aut_02', :value=>"" %>
        Vo. Bo. Jefe de Unidad</td>
    </tr>
    <tr id="txt_aut_02">
      <td><%= f.text_area :add_aut_02,  :size => '100%'%> </td>
    </tr>
  </table>
</div>
<% end %>

<% if $autorizacion == 3 %>
<div id="Autoriza_03">
  <table width="950" class="Table2">
    <tr>
      <td>
        <%= f.check_box :chk_aut_03, :id=>'aut_03', :name=>'chk_aut_03', :value=>"" %>
        Autorizar Presupuesto (Coordinador)</td>
    </tr>
    <tr id="txt_aut_03">
      <td><%= f.text_area :add_aut_03,  :size => '100%'%> </td>
    </tr>
  </table>
</div>
<% end %>



<% if $autorizacion == 5 %>
<div id="Autoriza_05">
  <hr />
  
  <td>Fecha de Termino:<%= f.text_field  :ending_date, :size=>'9', :id=>'budgets_ending_date' %> </td>
  
  <table width="950" class="Table2">
    <tr>
      <td>
        <%= f.check_box :chk_aut_05, :id=>'aut_05', :name=>'chk_aut_05', :value=>"" %>
        Autorización Final Presupuesto (Coordinador)
      </td>
    </tr>
    
    <tr id="txt_aut_05">
      <td><%= f.text_area :add_aut_05,  :size => '100%'%> </td>
      <%#= calendar_date_select_tag "e_date", nil, :embedded => true, :year_range => 10.years.ago..0.years.ago %>
    </tr>           
  </table>
</div>
<% end %>

<hr />
<% if $display_supplies == 1 %>
     <%= f.submit 'Guardar Presupuesto', :onclick => "document.getElementById('work_quantity').value=-999.99;document.getElementById('mat_quantity').value=-999.99; return true;"%>
<% else %>
    <%= f.submit 'Guardar Presupuesto'%>
<% end %>



<% end %>

