<% @requests_support_request.id %>
<table class="table1" width="950">
<tr>

  <td width="80" align=right >
     <b>Folio:</b>
  </td>
  <td align="left">
     <%= @budgets_budget.request.num_sequence %>
  </td>

  <td> <b> Creado el:</b></td>
  <td align="left"><%=  @budgets_budget.request.created_at.strftime("%d/%m/%Y") %></td>
  <td> <b> Ultimo cambio:</b></td>
  <td align="left"><%=  @budgets_budget.request.status_chng_date.strftime("%d/%m/%Y") %></td>
</tr>

<tr>
  <td width="30" align=right >
    <b>Ubicación:</b>
  </td>
  <td align="left">
    <%= @budgets_budget.request.ubication_name %>
  </td>
  <td width="60" align=right>
    <b>Atiende:</b>
  </td>
  <td align ="left" colspan="3">
    <%= @budgets_budget.request.helper %>
  </td>
</tr>


<tr class="table_content_c2">
  <td width="30" align=right >
    <b>Nombre:</b>
  </td>
  <td align="left">
    <%= @budgets_budget.request.name %>
  </td>
  <td width="70" align=right>
    <b>Correo E.:</b>
  </td>
  <td align ="left" colspan="3">
    <%= @budgets_budget.request.email %>
  </td>
</tr>


<tr class="table_content_c2">
  <td width="80" align=right >
     <b>Descripción:</b>
  </td>
  <td align="left" colspan="5">
     <%= raw(@budgets_budget.request.text_to_html(@budgets_budget.request.description)) %>
  </td>
</tr>

</table>


<%= form_for(@budgets_budget, :remote=> true) do |f| %>

  <% if @budgets_budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budgets_budget.errors.count, "error") %> prohibited this budgets_budget from being saved:</h2>

      <ul>
      <% @budgets_budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%=  f.text_field :support_request_id, :type => "hidden" %>

<table width="950" class="table1">
  <tr>
    <td width="80" align="right" valign="top">
      <b> Descripción Técnica </b>
    </td>
    <td align="left" colspan="3">
      <%= f.text_area :tech_description,  :size => '98x2'  %>
    </td>
  </tr>
  <tr>
    <td width="80" align="right" valign="top">
      <b> Descripción de Trabajos </b>
    </td>
    <td align="left"  colspan="3">
      <%= f.text_area :description,  :size => '98x2'  %>
    </td>
  </tr>
  <tr>
    <td width="80" align="right">
       <b> Tipo de Soporte:</b>
    </td>
    <td align="left" colspan="3">
       <%= select :budgets_budget , :support_type_id, Catalogs::SupportType.find(:all).collect{|p| [p.name, p.id]}%>
    </td>
  </tr>
  <% if $display_supplies == 0 %>
  <tr>
    <td width="80" align="right">
       <b> Empresa:</b>
    </td>
    <td align="left">
       <%= select :budgets_budget , :supplier_id, Catalogs::Supplier.find(:all).collect{|p| [p.trade_name, p.id]}%>
    </td>
    <td align="right" width="80">
      <b> Costo: </b>
    </td>
    <td align="left" width="80">
      <%= f.text_field :total_cost, :size=>"13", :style => "text-align: right" %>
    </td>
  </tr>
  <% end %>


</table>

  <% if $display_supplies == 1 %>
     <%= render :partial => 'addsupply' %>
     <div id="mat_list">
       <%= render :partial => 'supplies'%>
     </div>

  <% end %>

<%= f.submit 'Guardar Presupuesto', :onclick => "document.getElementById('cantidad').value=-999.99; return true;"%>


<% end %>



