
<table class ="table1" width="950">
  <tr>
    <th>Type supply</th>
    <th>Budget</th>
    <th>Descripción</th>
    <th>Costo</th>
    <th>Cantidad</th>
    <th>Unidad</th>
    <th>Importe</th>
    <th></th>
  </tr>

<% @budgets_budget_supplies.each do |budgets_budget_supply| %>
  <tr>
    <td><%= budgets_budget_supply.type_supply %></td>
    <td><%= budgets_budget_supply.budget_id %></td>
    <td><%= budgets_budget_supply.description %></td>
    <td align="right"><%= sprintf("%0.2f",budgets_budget_supply.unit_cost) %></td>
    <td align="right"><%= budgets_budget_supply.quantity %></td>
    <td><%= budgets_budget_supply.unit_measure %></td>
    <td align="right"><%= budgets_budget_supply.importe( budgets_budget_supply.unit_cost,  budgets_budget_supply.quantity )  %></td>
    <td><%= link_to 'Borrar', budgets_budget_supply, :confirm => '¿Borrar?', :method => :delete %></td>
  </tr>
<% end %>
</table>
