
<table class ="table1" width="950">
  <tr>
    <th>Descripción</th>
    <th>Cantidad</th>
    <th>Costo</th>    
    <th>Unidad</th>    
    <th>Importe</th>
    <th></th>
  </tr>

<% @budgets_budget_supplies.each do |budgets_budget_supply| %>
  <tr>
    <td><%= budgets_budget_supply.description %></td>
    <td align="right"><%= budgets_budget_supply.quantity %></td>
    <td align="right"><%= number_to_currency(budgets_budget_supply.unit_cost) %></td>
    <td><%= budgets_budget_supply.unit_measure %></td>
    <td align="right"><%= number_to_currency(budgets_budget_supply.importe( budgets_budget_supply.unit_cost,  budgets_budget_supply.quantity ))  %></td>
    <% if budgets_budget_supply.fn_borrar()==true %>
    <td><%= link_to "Borrar", { :action => "delete_supply", :id=>budgets_budget_supply.id },:confirm => "¿Borrar?", :method => :delete, :remote=>true %></td>
    <% end %>
  </tr>
<% end %>
</table>

