<head>

    <script type="text/javascript">
    $(document).ready(function(){
          
      $(".combo").change(function(){

        var temp = new Array();
        var i=0;
        b = $(".combo  option:selected").text();
        temp = b.split('$');

        var ls_importe =  temp[1];
        i = ls_importe.indexOf("|");
        ls_importe = ls_importe.substring(0, i);
        //alert(temp[0]);
        var x=(document).getElementById('importe');
        x.value = ls_importe;   //temp[1];


        //--Unidad de medida
        temp = b.split('|');
        var x=(document).getElementById('unidad');
        x.value = temp[1];


        //alert(x.value);
        //$(this).hide() eOK
        //$("ul").append("<li>Ultima</li>")
        //$(".tipo").hide() OK

        return false;
      });


    });
    </script>

</head>


<h1>Presupuesto</h1>

<%= render :partial => 'request' %>

<%= form_for(@budgets_budget) do |f| %>

  <% if @budgets_budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budgets_budget.errors.count, "error") %> prohibited this budgets_budget from being saved:</h2>

      <ul>
      <% @budgets_budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%=  f.text_field :support_request_id, :type => "hidden" %>

<table width="950" class="table1">
  <tr>
    <td width="80" align="right" valign="top">
      <b> Descripción Técnica </b>
    </td>
    <td align="left" colspan="3">
      <%= f.text_area :tech_description,  :size => '98x2'  %>
    </td>
  </tr>
  <tr>
    <td width="80" align="right" valign="top">
      <b> Descripción de Trabajos </b>
    </td>
    <td align="left"  colspan="3">
      <%= f.text_area :description,  :size => '98x2'  %>
    </td>
  </tr>
  <tr>
    <td width="80" align="right">
       <b> Tipo de Soporte:</b>
    </td>
    <td align="left" colspan="3">
       <%= select :budgets_budget , :support_type_id, Catalogs::SupportType.find(:all).collect{|p| [p.name, p.id]}%>
    </td>
  </tr>

</table>

<div class="actions">
    <%= f.submit 'Guardar Presupuesto'%>
</div>



<% form_for Budgets::BudgetSupply.new, :remote => true do |f2| %>
   <table>
     <tr>
       <td>
         <div class="combo">
        <%= f2.label :description, "Material:" %>        
        <%= select :budgets_budget_supply , :description,  Catalogs::Supply.find(:all,  :conditions => "type_supply = 1").collect{|p| [p.description + " $ " + p.unit_cost.to_s + "|" + p.unit_measure, p.description]} %>
        </div>
       </td>
       <td>
        <%= f2.label :quantity, "Cantidad:" %>
        <%= f2.text_field :quantity, :size=>"8", :style => "text-align: right", :id=>"cantidad" %>
       </td>
       <td>
        <%= f2.label :unit_cost, "Importe:" %>
        <%= f2.text_field :unit_cost, :size=>"8", :style => "text-align: right", :id=>"importe" %>
       </td>
       <td>
        <%= f2.label :unit_measure, "Unidad:" %>
        <%= f2.text_field :unit_measure, :id=>"unidad",:size=>"5" %>
       </td>
       <td>
        <%= f2.hidden_field :type_supply, :id=>"type_supply", :value=>"1"  %>
       </td>


       <div class="actions">
          <td  ><%= f2.submit 'Agregar', :name => 'material' %></td>
       </div>

     </tr>
     <tr>
     </tr>
   </table>
<% end %>

<div id="supplies">
  <%= render :partial => 'supplies', :locals => { :list => true }%>
</div>




<% end %>






