<h1>Presupuesto Externo</h1>

<table width="950">
<tr class="table_content_c2">

  <td width="80" align=right >
     <b>Folio:</b>
  </td>
  <td align="left">
     <%= @requests_support_request.num_sequence  %>
  </td>
  <td> <b> Creado el:</b></td>
  <td align="left"><%=  @requests_support_request.created_at.strftime("%d/%m/%Y") %></td>
  <td> <b> Ultimo cambio:</b></td>
  <td align="left"><%=  @requests_support_request.status_chng_date.strftime("%d/%m/%Y") %></td>
</tr>
</table>

<table width="950">

<tr class="table_content_c3">
  <td width="30" align=right >
    <b>Ubicación:</b>
  </td>
  <td align="left">
    <%= @requests_support_request.ubication_name %>
  </td>
  <td width="60" align=right>
    <b>Atiende:</b>
  </td>
  <td align ="left">
    <%= @requests_support_request.helper %>
  </td>
</tr>


<tr class="table_content_c2">
  <td width="30" align=right >
    <b>Nombre:</b>
  </td>
  <td align="left">
    <%= @requests_support_request.name %>
  </td>
  <td width="70" align=right>
    <b>Correo E.:</b>
  </td>
  <td align ="left">
    <%= @requests_support_request.email %>
  </td>
</tr>
</table>


<table width="950">
<tr class="table_content_c2">
  <td width="80" align=right >
     <b>Descripción:</b>
  </td>
  <td align="left">
     <%= raw(@requests_support_request.text_to_html(@requests_support_request.description)) %>
  </td>
</tr>

</table>


<%= form_for(@budgets_budget) do |f| %>

  <% if @budgets_budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budgets_budget.errors.count, "error") %> prohibited this budgets_budget from being saved:</h2>

      <ul>
      <% @budgets_budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table width="950" class="table_content_c4">
  <tr>
    <td width="80" align="right" valign="top">
      <b> Descripción Técnica </b>
    </td>
    <td align="left" colspan="3">
      <%= f.text_area :tech_description,  :size => '120x4'  %>
    </td>
  </tr>
  <tr>
    <td width="80" align="right" valign="top">
      <b> Descripción de Trabajos </b>
    </td>
    <td align="left"  colspan="3">
      <%= f.text_area :description,  :size => '120x4'  %>
    </td>
  </tr>
  <tr>
    <td width="80" align="right">
       <b> Empresa:</b>
    </td>
    <td align="left">
       <%= select :budgets_budget , :supplier_id, Catalogs::Supplier.find(:all).collect{|p| [p.trade_name, p.id]}%>
    </td>
    <td align="right" width="80">
      <b> Costo: </b>
    </td>
    <td align="left" width="80">
      <%= f.text_field :total_cost, :size=>"13" %>
    </td>
  </tr>
  <tr>
    <td width="80" align="right">
       <b> Tipo de Soporte:</b>
    </td>
    <td align="left" colspan="3">
       <%= select :budgets_budget , :support_type_id, Catalogs::SupportType.find(:all).collect{|p| [p.name, p.id]}%>
    </td>
  </tr>

</table>
<div class="actions">
    <%= f.submit %>
</div>


<% end %>
