<h1>Presupuestos</h1>

<table class="table1">
  <tr>
    <th>Presup.</th>
    <th>Solicitud</th>
    <th>Costo Total</th>
    <th>Fecha</th>
    <th>Atiende</th>
    <th>Estatus</th>
    <th></th>
    <th></th>    
    <th></th>
    <th></th>
    <th></th>    
  </tr>

<%= will_paginate @budgets_budgets %>
<% @budgets_budgets.each do |budgets_budget| %>
  <tr>
    <td><%= budgets_budget.id %></td>
    <td><%= budgets_budget.request.num_sequence %></td>
    <td align="right"><%= number_to_currency(budgets_budget.total_cost) %></td>
    <td><%= budgets_budget.budget_date.strftime("%d/%m/%Y") %></td>
    <td><%= budgets_budget.user.name %></td>
    <td align ="center" ><%= image_tag(budgets_budget.request.img_status(budgets_budget.status_id.to_i))  %></td>
    <td> <%= link_to 'Info', :controller=>'/budgets/budgets' , :action => "info", :id => budgets_budget.support_request_id, :budget_id=>budgets_budget.id  %></td>
    <td>
       <% if budgets_budget.budget_type == 1 %>
         <%= link_to_if budgets_budget.get_num_aut_req(budgets_budget.id, "E") ,'Editar', :controller=>'/budgets/budgets',  :action => "budget_fm1",  :id => budgets_budget.id %>
       <% else %>    
         <%= link_to_if budgets_budget.get_num_aut_req(budgets_budget.id,"E") ,'Editar', :controller=>'/budgets/budgets', :action => "budget_fm2",  :id => budgets_budget.id %>
       <% end %>
    </td>
    <td><%= link_to_if  budgets_budget.get_num_aut_req(budgets_budget.id,"V"),"Mostrar", :controller=>'/budgets/budgets' , :action => "show", :id => budgets_budget.id %></td>
    <td><%= link_to_if  Administration::UserSession.find.record.attributes['role']=='ADMIN', 'Borrar', budgets_budget,:remote => true, :confirm => '¿Continuar?', :method => :delete %></td>
    
    <td>
       <% if budgets_budget.budget_type == 2 %>
         <%= link_to_if budgets_budget.get_num_aut_req(budgets_budget.id,"I") ,'Orden', :controller=>'/budgets/budgets', :action => "order",  :id => budgets_budget.id %>
       <% end %>
    </td>
    
  </tr>
<% end %>
</table>


<br />
