<h1>Presupuestos</h1>

<table class="table1">
  <tr>
    <th>Solicitud</th>
    <th>Costo Total</th>
    <th>Fecha</th>
    <th>Presupuestó</th>
    <th>Estatus</th>
    <th></th>    
    <th></th>
    <th></th>
  </tr>

<%= will_paginate @budgets_budgets %>
<% @budgets_budgets.each do |budgets_budget| %>
  <tr>
    <td><%= budgets_budget.request.num_sequence %></td>
    <td align="right"><%= number_to_currency(budgets_budget.total_cost) %></td>
    <td><%= budgets_budget.budget_date.strftime("%d/%m/%Y") %></td>
    <td><%= budgets_budget.user.name %></td>
    <td align ="center" ><%= image_tag(budgets_budget.request.img_status(budgets_budget.request.request_status_id.to_i))  %></td>
    <td>
       <% if budgets_budget.budget_type == 1 %>
         <%= link_to_if budgets_budget.get_num_aut_req(budgets_budget.support_request_id, "E") ,'Editar', :controller=>'/budgets/budgets',  :action => "budget_fm1_edit",  :id => budgets_budget.support_request_id %>
       <% else %>    
         <%= link_to_if budgets_budget.get_num_aut_req(budgets_budget.support_request_id,"E") ,'Editar', :controller=>'/budgets/budgets', :action => "budget_fm2",  :id => budgets_budget.support_request_id %>
       <% end %>
    </td>
    <td><%= link_to_if  budgets_budget.get_num_aut_req(budgets_budget.support_request_id,"V"),"Mostrar", :controller=>'/budgets/budgets' , :action => "show", :id => budgets_budget.support_request_id %></td>
    <td><%= link_to_if  Administration::UserSession.find.record.attributes['role']=='ADMIN', 'Borrar', budgets_budget,:remote => true, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
