
<head>
<%= stylesheet_link_tag('print', :media => :print) %>

</head>
<br />
<br />
<br />
<table class="table-order-body">
  <tr>
    <th width="300">ORDEN DE TRABAJO NÚMERO:</th>
    <td><%= @budgets_budget.request.ubication_name %></td>
  </tr>
</table >
<br />
<table class="table-order-title">
  <tr>
    <th align="center">DATOS DEL PRESTADOR</th>
  </tr>
</table>

<table class="table-order-body">

 <tr>
    <th width="300">A) NOMBRE O RAZÓN SOCIAL:</th>
    <td><%= @budgets_budget.supplier_name()%></td>
  </tr>
  <tr>
    <th>B) REGISTRO FEDERAL DE CONTRIBUYENTES:</th>
    <td><%= @budgets_budget.supplier_rfc()%></td>
  </tr>
  <tr>
    <th>C) DOMICILIO FISCAL:</th>
    <td><%= @budgets_budget.supplier_address()%></td>
  </tr>
  <tr>
    <th>D) <%= @budgets_budget.supplier_type()%></th>
    <td></td>
  </tr>  
</table>
  
<table class="table-order-body">
  <tr>
    <td align="center" colspan="2"><b>CARACTERÍSTICAS</b></td>
  </tr>
<br />
<br />

<tr>
    <th width="100">OBJETO:</th>
    <td>
      La Universidad Nacional Autónoma de México, encomienda y el prestador se obliga a realizar los siguientes servicios profesionales.:
      <b><%=  @budgets_budget.description.upcase %></b> Especificaciones y características de los trabajos a ejecutar,
      corren agregados como anexo I, a esta orden de trabajo y se entenderán que forman parte integral del mismo.
      <p>
    </td>
  </tr>
  <tr>
    <th width="100">PRECIO CONVENIDO:</th>
    <td>
       El importe de los servicios objeto de esta orden de trabajo, es por la cantidad de:<b> <%= number_to_currency(@budgets_budget.costo_sin_iva()) %></b>
       (<b><%= @budgets_budget.num2letra(@budgets_budget.costo_sin_iva())%></b>),
       más la cantidad de: <b><%=number_to_currency(@budgets_budget.solo_iva())%></b>  (<b><%= @budgets_budget.num2letra(@budgets_budget.solo_iva)%></b>),
       por concepto del impuesto al valor agregado (IVA), lo que hace un total de: <b><%= number_to_currency(@budgets_budget.total_cost) %></b>
       (<b><%= @budgets_budget.num2letra(@budgets_budget.total_cost)%></b>);
       la cantidad señalada se pagará de la siguiente manera: SOLO PAGO AL TERMINO DE LOS TRABAJOS y le compensará al prestador por los materiales; Insumos; sueldos, honorarios, organización, dirección técnica y administrativa, prestaciones sociales y laborales a su personal; "El Prestador" será el único responsable del personal que emplee con motivo de los trabajos a los que se refiere esta orden de trabajo, exime a "LA UNIVERSIDAD .NACIONAL AUTÓNOMA DE MÉXICO" de cualquier responsabilidad derivada de los trabajos objeto de esta orden, ya sea penal, laboral, civil, o de cualquier otra índole que se derive de la relación laboral con sus trabajadores.
       <p>
    </td>
  </tr>

  <tr>
    <th width="100">FORMA DE PAGO:</th>
    <td>
      LA UNAM", únicamente pagará lo que está señalado en la cotización autorizada por el Coordinador de
      Servicios Administrativos del Campus UNAM Junquilla, a través de su Unidad de Obras y Servicios de Apoyo.
      En el caso de la compra de insumos, refacciones, o alguna otro bien necesario para el buen funcionamiento
      de los equipos, "LA UNAM", cubrirá el monto de los mismos, previa verificación, estudio y autorización del
      Unidad de Obras y Servicios de Apoyo de la Coordinación de Servicios Administrativos del Campus UNAM Junquilla.
      <p>
    </td>
  </tr>

  <tr>
    <th width="100">VIGENCIA:</th>
    <td>
      La presente orden de trabajo, tendrá una vigencia por el tiempo que dure la prestación exclusivamente,
      empezando a surtir sus efectos a partir de la siguiente fecha: <b><%= Time.now.strftime("%d/%m/%Y") %></b>
      <p>
    </td>
  </tr>

  <tr>
    <th width="100">RESPONSABILIDADES:</th>
    <td>
       El prestador del servicio, será responsable de los daños y perjuicios que se causen a "LA UNAM"
       o a terceros, con motivo de la ejecución de los trabajos aquí consignados, cuando resulten de
       su incumplimiento en los términos y condiciones establecidos en el anexo I de esta orden de trabajo,
       de la inobservancia a las recomendaciones que le haga el Unidad de Obras y Servicios de Apoyo por escrito,
       y en aquellos casos que resulten por omisiones que le sean imputables.
       <p>
    </td>
  </tr>

  <tr>
    <th width="100">CESIÓN DE DERECHOS Y OBLIGACIONES:</th>
    <td>
      El prestador del servicio, no podrá transferir en forma alguna a terceros los derechos
      y obligaciones concertados en esta orden de trabajo bajo ninguna circunstancia.
      En caso de rescisión, o de terminación anticipada, se obliga a entregar los equipos, partes o
      materiales propiedad de "LA UNAM", relacionados con los servicios de la presente orden de trabajo,
      así mismo finiquitará los servicios de manera adecuada dando aviso a "LA UNAM", con un mínimo
      de diez días hábiles de anticipación.
      <p>
    </td>
  </tr>

  <tr>
    <th width="100">SUBSISTENCIA DE LAS OBLIGACIONES:</th>
    <td>
      Las partes acuerdan que la rescisión o terminación anticipada de esta orden de trabajo, no afecta de manera
      alguna la validez o exigibilidad de las obligaciones contraídas con anterioridad a la celebración de esta orden de trabajo.
      <p>
    </td>
  </tr>

  <tr>
    <th width="100">JURISDICCIÓN:</th>
    <td>
      Para la interpretación y cumplimiento de la presente orden de trabajo, las partes se someten a la jurisdicción
      y competencia de los tribunales federales con residencia en la ciudad de Querétaro, Querétaro, por lo que renuncian
      al fuero que por razón de su domicilio presente o futuro, pudiera corresponderles. Leída que fue la presente orden de
      trabajo y enteradas las partes de su contenido y alcances legales, lo firman en la ciudad de Querétaro. Qro.
      <b><%= Time.now.strftime("%d/%m/%Y") %></b>
      <p>
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>

</table>
<!-- Firmas -->
<table class="table-signature">
  <tr>
    <td width="45%" align="center">
      <b>POR "LA UNAM"</b><br /><br /><br /><br /><br />

      <b>ARQ. PEDRO EDUARDO BEGUERISSE ORTIZ</b><br />
      Coordinador de Servicios Administrativos<br />
      del Campus UNAM-Juriquilla
    </td>
    <td width="10%"></td>
    <td width="45%" align="center">
      <b>POR "EL PRESTADOR"</b><br /><br /><br /><br /><br />
      <b><%= @budgets_budget.supplier_responsible() %></b>
    </td>
  </tr>

  <tr>
    <td width="45%" align="center">
      <br /><br /><br /><br /><br />
      <b>ARQ. VICTOR CASTILLO SANCHEZ</b><br />
      Jefe de Unidad de Obras y Servicios de Apoyo de la <br />
      Coordinación de Servicios Administrativos del Campus<br />
      UNAM-Juriquilla
    </td>
    <td width="10%"></td>
    <td width="45%" align="center">
      <br /><br /><br /><br /><br />
      <b>LIC. ERIKA TIRADO CERVANTES</b><br />
      Jefa de la Unidad de presupuesto de. Coordinación de<br />
      Servicios Administrativos del Campus UNAM-Juriquilla
    </td>
  </tr>

</table>
<hr/>
<%= link_to '<<', :back%>

