<h1>Presupuesto</h1>
<head>
  <script type="text/javascript">
    $(document).ready(function(){

      $("#txt_aut_03").hide(); //-- Ocultar Texto de Autorización 03
      $('input[name=chk_aut_03]').attr('checked', false);

      //Checkbox Autorización 03 coordinador (Ocultar/Mostrar)
      $("#aut_03").change(function(){
         var x = $('input[name=chk_aut_03]').is(':checked')
         if (x == true)
         {
           $("#txt_aut_03").show();
         }else $("#txt_aut_03").hide();

       });

    });
    </script>

</head>

<% @requests_support_request.id %>
<table class="table1" width="950">
<tr>

  <th width="80" align=right >
     <b>Folio:</b>
  </th>
  <td align="left">
     <%= @budgets_budget.request.num_sequence %>
  </td>

  <th> <b> Creado el:</b></th>
  <td align="left"><%=  @budgets_budget.request.created_at.strftime("%d/%m/%Y") %></td>
  <th> <b> Ultimo cambio:</b></th>
  <td align="left"><%=  @budgets_budget.request.status_chng_date.strftime("%d/%m/%Y") %></td>
</tr>

<tr>
  <th width="30" align=right >
    <b>Area Resp.:</b>
  </th>
  <td align="left">
    <%= @budgets_budget.request.ubication_name %>
  </td>
  <th width="60" align=right>
    <b>Atiende:</b>
  </th>
  <td align ="left" colspan="3">
    <%= @budgets_budget.request.helper %>
  </td>
</tr>


<tr class="table_content_c2">
  <th width="30" align=right >
    <b>Nombre:</b>
  </th>
  <td align="left">
    <%= @budgets_budget.request.name %>
  </td>
  <th width="70" align=right>
    <b>Correo E.:</b>
  </th>
  <td align ="left" colspan="3">
    <%= @budgets_budget.request.email %>
  </td>
</tr>


<tr class="table_content_c2">
  <th width="80" align=right >
     <b>Descripción:</b>
  </th>
  <td align="left" colspan="5">
     <%= raw(@budgets_budget.request.text_to_html(@budgets_budget.request.description)) %>
  </td>
</tr>
</table>


<%= form_for(@budgets_budget, :remote=> true) do |f| %>

  <% if @budgets_budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budgets_budget.errors.count, "error") %> prohibited this budgets_budget from being saved:</h2>

      <ul>
      <% @budgets_budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%=  f.text_field :support_request_id, :type => "hidden" %>

<table width="950" class="table1">
  <tr>
    <th width="80" align="right" valign="top">
      <b> Descripción Técnica </b>
    </th>
    <td align="left" colspan="3">

       <%=  @budgets_budget.request.tech_description %>
    </td>
  </tr>
  <tr>
    <th width="80" align="right" valign="top">
      <b> Descripción de Trabajos </b>
    </th>
    <td align="left"  colspan="3">
      <%= @budgets_budget.description %>
    </td>
  </tr>
  <tr>
    <th width="80" align="right">
       <b> Tipo de Soporte:</b>
    </th>
    <td align="left" colspan="3">
       <%= @budgets_budget.request.supporttype.name   %>       
    </td>
  </tr>


  <% if $display_supplies == 2 %>
  <tr>
    <th width="80" align="right">
       <b> Empresa:</b>
    </th>
    <td align="left">
       <%= @budgets_budget.supplier.trade_name %>       
    </td>
    <th align="right" width="80">
      <b> Costo: </b>
    </th>
    <td align="left" width="80">
      <%= number_to_currency(@budgets_budget.total_cost) %>
    </td>
  </tr>
  <% end %>
  <tr>
    <th width="80" align=right >
      <b>Fecha de Termino:</b>
    </th>
    <td align="left" colspan="5">
      <%= @budgets_budget.fn_ending_date(@budgets_budget.ending_date) %>
    </td>
  </tr>

</table>

  <% if $display_supplies == 1 %>
    <hr />

     <div id="mat_list">
       <h3> Materiales</h3>
       <%= render :partial => 'supplies'%>
     </div>
   <hr />
     <div id="work_list">
       <h3> Mano de Obra</h3>
       <%= render :partial => 'workmanships'%>
     </div>

  <% end %>


  <% if $permiso %>
    <div id="Autoriza_03">
      <table width="950" class="Table2">
        <tr>
          <td>
            <%= f.check_box :chk_aut_03, :id=>'aut_03', :name=>'chk_aut_03', :value=>"" %>
             Autorización Secretario Técnico
          </td>
        </tr>
        <tr id="txt_aut_03">
          <td><%= f.text_area :add_aut_03,  :size => '100%'%> </td>
        </tr>
      </table>
    </div>
    <hr />
    <%= f.submit 'Guardar'%>
  <% else %>
     <hr />
     <%= link_to 'Salir', :back, :class => 'link-button' %>
  <% end %>

<% end %>

