<%= form_for(@administration_user) do |f| %>
  <% if @administration_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administration_user.errors.count, "error") %> prohibited this administration_user from being saved:</h2>

      <ul>
      <% @administration_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <table width="990">
    <tr>
      <td width="80" align="right">
        <%= f.label 'Usuario:' %><br />
      </td>
      <td>
        <%= f.text_field :user , :size => 20%>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Nombre:' %><br />
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Contraseña:' %><br />
      </td>
      <td>
        <%= f.text_field :password %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Correo:' %><br />
      </td>
      <td>
        <%= f.text_field :email %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Rol:' %><br />
      </td>
      <td>
        <%= select :administration_user , :role_id, Administration::UserRole.find(:all).collect{|p| [p.description, p.id]}%>
      </td>
    </tr>

  </table>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>



<% end %>
