<%= form_for(@administration_user) do |f| %>
  <% if @administration_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administration_user.errors.count, "error") %> prohibited this administration_user from being saved:</h2>

      <ul>
      <% @administration_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <table width="990">
    <tr>
      <td width="80" align="right">
        <%= f.label 'Usuario:' %><br />
      </td>
      <td>
        <%= f.text_field :username , :size => 20%>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Nombre:' %><br />
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Contraseña:' %><br />
      </td>
      <td>
        <%= f.password_field :password, :size => 15 %>
      </td>
    </tr>

    <tr>
      <td width="80" align="right">
        <%= f.label 'Confirmar Contraseña:' %><br />
      </td>
      <td>
        <%= f.password_field :password_confirmation, :size => 15 %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Correo:' %><br />
      </td>
      <td>
        <%= f.text_field :email, :size =>35 %>
      </td>
    </tr>
    <% if (Administration::UserSession.find.record.attributes['role']=='ADMIN') %>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Rol:' %><br />
      </td>
      <td>
        <%= select :administration_user , :role_id, Administration::UserRole.find(:all).collect{|p| [p.description, p.id]}%>
      </td>
    </tr>
    
    <tr>
      <td width="80" align="right">
        <%= f.label 'Ubicación:' %><br />
      </td>
      <td>
        <%= select :administration_user , :ubication_id, Catalogs::Ubication.find(:all).collect{|p| [p.name, p.id]}%>
      </td>
    </tr>
    <%end%>

  </table>


  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>



<% end %>
