<%= form_for(@catalogs_supply) do |f| %>
  <% if @catalogs_supply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalogs_supply.errors.count, "error") %> prohibited this catalogs_supply from being saved:</h2>

      <ul>
      <% @catalogs_supply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table width="990">
    <tr>
       <td  width="80" align="right"><%= f.label 'Tipo:' %><br /> </td>
       <td> <%= select( :catalogs_supply, :type_supply, { "Materiales" => 1, "Mano de Obra" => 2}) %> </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Abreviación:' %><br />
      </td>
      <td>
        <%= f.text_field :abbr , :size => 6%>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Descripción:' %><br />
      </td>
      <td>
        <%= f.text_field :description %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Precio Unitario:' %><br />
      </td>
      <td>
        <%= f.text_field :unit_cost , :size => 6%>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Unidad de Medida:' %><br />
      </td>
      <td>
        <%= f.text_field :unit_measure , :size => 6%>
      </td>
    </tr>
</table>

  
   
  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>
