<h1>Materiales</h1>

<table class ="table1">
  <tr class="table_header">
    <th>ABREV.</th>
    <th>DESCRIPCION</th>
    <th>PRECIO. U.</th>
    <th>U. DE MEDIDA</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalogs_supplies.each do |catalogs_supply| %>
  <tr>
    <td><%= catalogs_supply.abbr %></td>
    <td><%= catalogs_supply.description %></td>
    <td><%= catalogs_supply.unit_cost %></td>
    <td><%= catalogs_supply.unit_measure %></td>
    <td><%= link_to 'Ver', catalogs_supply %></td>
    <td><%= link_to 'Modificar', edit_catalogs_supply_path(catalogs_supply) %></td>
    <td><%= link_to 'Eliminar', catalogs_supply, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<hr />

<%= link_to 'Agregar Material', new_catalogs_supply_path, :class => 'link-button' %>
