<h1>Listing catalogs_supplies</h1>

<table>
  <tr>
    <th>Abbr</th>
    <th>Description</th>
    <th>Unit cost</th>
    <th>Unit measure</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalogs_supplies.each do |catalogs_supply| %>
  <tr>
    <td><%= catalogs_supply.abbr %></td>
    <td><%= catalogs_supply.description %></td>
    <td><%= catalogs_supply.unit_cost %></td>
    <td><%= catalogs_supply.unit_measure %></td>
    <td><%= link_to 'Show', catalogs_supply %></td>
    <td><%= link_to 'Edit', edit_catalogs_supply_path(catalogs_supply) %></td>
    <td><%= link_to 'Destroy', catalogs_supply, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supply', new_catalogs_supply_path %>
