<h1 class="title">Solicitudes de soporte</h1>


<div id="content_center"></div>
<table class ="table1" width="950">
  <tr >
    <th>FECHA.</th>
    <th width ="130">FOLIO.</th>
    <th width ="120">SOLICITANTE</th>
    <th width ="520">DESCRIPCION</th>
    <th>ESTAT.</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>    
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= will_paginate @requests_administration_support_requests %>
<% @requests_administration_support_requests.each do |requests_administration_support_request| %>
  <tr>
    <td><%= requests_administration_support_request.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= requests_administration_support_request.num_sequence %></td>
    <td><%= requests_administration_support_request.name %></td>    
    <td><%= requests_administration_support_request.description_left(50) %></td>    
    <td align ="center" ><%= image_tag(requests_administration_support_request.img_status(requests_administration_support_request.request_status_id.to_i))  %></td>
    <td><%= link_to 'Ver', requests_administration_support_request %></td>
    <td><%= link_to_if requests_administration_support_request.helper_id == nil , "Modificar", edit_requests_administration_support_request_path(requests_administration_support_request) %></td>
    <td><%= link_to_if requests_administration_support_request.valida_escalar(requests_administration_support_request.id), 'Asignar', :controller => "support_requests", :action => "scale", :id => requests_administration_support_request.id %></td>
    <td><%= link_to  "Ver Presup.", :controller=>'/budgets/budgets', :action => "index", :request_id => requests_administration_support_request.id %></td>
    <td> <%= link_to 'Cancelar', :controller=>'/requests_administration/support_requests' , :action => "dialog_cancel", :id => requests_administration_support_request.id  %></td>
    <% if (requests_administration_support_request.valida_rol()) %>
      <td><%= link_to_if requests_administration_support_request.valida_presupuesto(requests_administration_support_request.id), "Presupuesto", :controller=>'/budgets/budgets' , :action => "budget_fm1", :id => requests_administration_support_request.id, :new=>1 %></td>
      <td><%= link_to_if requests_administration_support_request.valida_presupuesto(requests_administration_support_request.id), "Presup. Externo", :controller=>'/budgets/budgets', :action => "budget_fm2", :id => requests_administration_support_request.id, :new=>1 %></td>
    <% end %>
    
    <% if (Administration::UserSession.find.record.attributes['role']=='ADMIN') %>
      <td><%= link_to_if  Administration::UserSession.find.record.attributes['role']=='ADMIN', 'Borrar', requests_administration_support_request, :confirm => '¿Borrar solicitud?', :method => :delete %></td>
    <%end%>

  </tr>
<% end %>
</table>

<hr/>

<h2>Involucrado en:</h2>

<table class ="table1" width="950">
  <tr >
    <th>FECHA.</th>
    <th width ="130">FOLIO.</th>
    <th width ="120">SOLICITANTE</th>
    <th width ="520">DESCRIPCION</th>
    <th>ESTAT.</th>
    <th></th>
    <th></th>
    <th></th>    
    <th></th>
  </tr>
<%= will_paginate @requests_administration_support_requests_deleg %>
<% @requests_administration_support_requests_deleg.each do |requests_administration_support_request_deleg| %>
  <tr>
    <td><%= requests_administration_support_request_deleg.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= requests_administration_support_request_deleg.num_sequence %></td>
    <td><%= requests_administration_support_request_deleg.name %></td>
    <td><%= requests_administration_support_request_deleg.description_left(50) %></td>
    <td align ="center" ><%= image_tag(requests_administration_support_request_deleg.img_status(requests_administration_support_request_deleg.request_status_id.to_i)) %></td>
    <td><%= link_to 'Ver', requests_administration_support_request_deleg %></td>
    <td><%= link_to  "Ver Presup.", :controller=>'/budgets/budgets', :action => "index", :request_id => requests_administration_support_request_deleg.id %></td>
    <td><%= link_to_if requests_administration_support_request_deleg.valida_modificar(), 'Modificar', edit_requests_administration_support_request_path(requests_administration_support_request_deleg) %></td>
    <td><%= link_to_if requests_administration_support_request_deleg.valida_escalar(requests_administration_support_request_deleg.id), 'Escalar', :controller => "support_requests", :action => "scale", :id => requests_administration_support_request_deleg.id %></td>
  </tr>
<% end %>
</table>


<hr/>

<%#= link_to 'Nueva sol. de soporte', new_requests_support_request_path, :class => 'link-button' %>

<%#=  link_to 'Nueva sol. de soporte', new_requests_administration_support_request_path, :class => 'link-button' %>
