<%= form_for(@catalogs_workmanship) do |f| %>
  <% if @catalogs_workmanship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalogs_workmanship.errors.count, "error") %> prohibited this catalogs_workmanship from being saved:</h2>

      <ul>
      <% @catalogs_workmanship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table width="990">
    <tr>
      <td width="80" align="right">
        <%= f.label 'Abreviación:' %><br />
      </td>
      <td>
        <%= f.text_field :abbr , :size => 6%>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Descripción:' %><br />
      </td>
      <td>
        <%= f.text_field :description %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Precio Unitario:' %><br />
      </td>
      <td>
        <%= f.text_field :unit_cost %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Unidad de Medida:' %><br />
      </td>
      <td>
        <%= f.text_field :unit_measure %>
      </td>
    </tr>
  </table>


  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>
