<h1>Listing catalogs_workmanships</h1>

<table>
  <tr>
    <th>Abbr</th>
    <th>Description</th>
    <th>Unit cost</th>
    <th>Unit measure</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalogs_workmanships.each do |catalogs_workmanship| %>
  <tr>
    <td><%= catalogs_workmanship.abbr %></td>
    <td><%= catalogs_workmanship.description %></td>
    <td><%= catalogs_workmanship.unit_cost %></td>
    <td><%= catalogs_workmanship.unit_measure %></td>
    <td><%= link_to 'Show', catalogs_workmanship %></td>
    <td><%= link_to 'Edit', edit_catalogs_workmanship_path(catalogs_workmanship) %></td>
    <td><%= link_to 'Destroy', catalogs_workmanship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workmanship', new_catalogs_workmanship_path %>
