<h1>Mano de obra</h1>

<table class ="table1">
  <tr class="table_header">
    <th>ABREV.</th>
    <th>DESCRIPCION</th>
    <th>PRECIO. U.</th>
    <th>U. DE MEDIDA</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalogs_workmanships.each do |catalogs_workmanship| %>
  <tr>
    <td><%= catalogs_workmanship.abbr %></td>
    <td><%= catalogs_workmanship.description %></td>
    <td><%= catalogs_workmanship.unit_cost %></td>
    <td><%= catalogs_workmanship.unit_measure %></td>
    <td><%= link_to 'Ver', catalogs_workmanship %></td>
    <td><%= link_to 'Modificar', edit_catalogs_workmanship_path(catalogs_workmanship) %></td>
    <td><%= link_to 'Eliminar', catalogs_workmanship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<hr />

<%= link_to 'New Workmanship', new_catalogs_workmanship_path, :class => 'link-button' %>
