<h1>Mano de obra</h1>
<p id="notice"><%= notice %></p>

<table class="table1">
  <tr>
    <td width="90" align="right">
      Abreviación:
    </td>
    <td>
      <%= @catalogs_workmanship.abbr %>
    </td>
  </tr>
  <tr>
    <td width="90" align="right">
      Descripción:
    </td>
    <td>
      <%= @catalogs_workmanship.description %>
    </td>
  </tr>
  <tr>
    <td width="90" align="right">
      Precio Unit.:
    </td>
    <td>
      <%= @catalogs_workmanship.unit_cost %>
    </td>
  </tr>
  <tr>
    <td width="90" align="right">
      U. de medida:
    </td>
    <td>
      <%= @catalogs_workmanship.unit_measure %>
    </td>
  </tr>
</table>

<hr/>


<%= link_to 'Modificar', edit_catalogs_workmanship_path(@catalogs_workmanship), :class => 'link-button' %>
<%= link_to 'Cancelar', catalogs_workmanships_path , :class => 'link-button'%>
