<h1>Lista de Materiales/Servicios</h1>

<div id="comment-notice"</div>

<script type="text/javascript" src="/javascripts/funciones.js">
</script>

<table>
  <tr><td>
      <tbody id="specifications">
          Hola
      </tbody>
      </td>
  </tr>
</table>



<div id="supplies">
  <%= render :partial => 'supplies', :locals => { :list => true }%>
</div>

<div id="date-picker"></div>
<li> XXXXXXXXXXX </li>




<%= form_for Budgets::BudgetSupply.new, :remote => true do |f| %>
	<%= f.label :type_supply, "Tipo Material" %><br />
	<%= f.text_field :type_supply %><br />
	<%= f.label :description, "Descripción" %><br />
	<%= f.text_area :description, :rows => 3 %><br />
	<%= f.submit "Agregar Material" %>
<% end %>

<br />

<%= link_to 'New Budget supply', new_budgets_budget_supply_path %>
