<%= form_for(@catalogs_ubication) do |f| %>
  <% if @catalogs_ubication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalogs_ubication.errors.count, "error") %> prohibited this catalogs_ubication from being saved:</h2>

      <ul>
      <% @catalogs_ubication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table width="990">
    <tr>
      <td width="80" align="right">
        <%= f.label 'Abreviación:' %><br />
      </td>
      <td>
        <%= f.text_field :abbr , :size => 6%>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Nombre:' %><br />
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Responsable:' %><br />
      </td>
      <td>
        <%= f.text_field :responsible %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Telefono/Ext.:' %><br />
      </td>
      <td>
        <%= f.text_field :tel_ext %>
      </td>
    </tr>
    <tr>
      <td width="80" align="right">
        <%= f.label 'Dependencia:' %><br />
      </td>
      <td>
        <%= select :catalogs_ubication , :unit_id, Catalogs::Unit.find(:all).collect{|p| [p.name, p.id]}%>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>
