<p id="notice"><%= notice %></p>

<p>
  <b>Abbr:</b>
  <%= @catalogs_support_type.abbr %>
</p>

<p>
  <b>Name:</b>
  <%= @catalogs_support_type.name %>
</p>


<%= link_to 'Edit', edit_catalogs_support_type_path(@catalogs_support_type) %> |
<%= link_to 'Back', catalogs_support_types_path %>
