<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @requests_req_delegation.request_id %>
</p>

<p>
  <b>User:</b>
  <%= @requests_req_delegation.user_id %>
</p>

<p>
  <b>Helper:</b>
  <%= @requests_req_delegation.helper_id %>
</p>

<p>
  <b>Notify:</b>
  <%= @requests_req_delegation.notify %>
</p>

<p>
  <b>Priority:</b>
  <%= @requests_req_delegation.priority_id %>
</p>

<p>
  <b>Active:</b>
  <%= @requests_req_delegation.active %>
</p>


<%= link_to 'Edit', edit_requests_req_delegation_path(@requests_req_delegation) %> |
<%= link_to 'Back', requests_req_delegations_path %>
