  <br/>
  <br/>
  <br/>
  <div id="menu_element">
   <%=  if params[:controller]=='catalogs/units' then raw("<img src='/images/vm_catalogs_units.gif'/>") else raw("<a href='units'><img src='/images/vm_catalogs_units_off.gif' border=0 /></a>") end %>
  </div>
  <div id="menu_element">
   <%=  if params[:controller]=='catalogs/ubications' then raw("<img src='/images/vm_catalogs_ubications.gif'/>") else raw("<a href='ubications'><img src='/images/vm_catalogs_ubications_off.gif' border=0/></a>") end %>
  </div>
  <div id="menu_element">
   <%=  if params[:controller]=='catalogs/support_types' then raw("<img src='/images/vm_catalogs_support_types.gif'/>") else raw("<a href='support_types'><img src='/images/vm_catalogs_support_types_off.gif' border=0/></a>") end %>
  </div>
  <div id="menu_element">
   <%=  if params[:controller]=='catalogs/request_statuses' then raw("<img src='/images/vm_catalogs_request_statuses.gif'/>") else raw("<a href='request_statuses'><img src='/images/vm_catalogs_request_statuses_off.gif' border=0/></a>") end %>
  </div>
  <div id="menu_element">
   <%=  if params[:controller]=='catalogs/priorities' then raw("<img src='/images/vm_catalogs_priorities.gif'/>") else raw("<a href='priorities'><img src='/images/vm_catalogs_priorities_off.gif' border=0/></a>") end %>
  </div>  
  <br/>