<br />   
<div>
   <%=  if params[:controller]=='catalogs/units' then raw("<img src='/images/vm_catalogs_units.gif'/>") else raw("<a href=#{catalogs_units_path}><img src='/images/vm_catalogs_units_off.gif' border=0 /></a>") end %>
  </div>
  <div>
   <%=  if params[:controller]=='catalogs/ubications' then raw("<img src='/images/vm_catalogs_ubications.gif'/>") else raw("<a href=#{catalogs_ubications_path}><img src='/images/vm_catalogs_ubications_off.gif' border=0/></a>") end %>
  </div>
  <div>
   <%=  if params[:controller]=='catalogs/support_types' then raw("<img src='/images/vm_catalogs_support_types.gif'/>") else raw("<a href=#{catalogs_support_types_path}><img src='/images/vm_catalogs_support_types_off.gif' border=0/></a>") end %>
  </div>
  <div>
   <%=  if params[:controller]=='catalogs/request_statuses' then raw("<img src='/images/vm_catalogs_request_statuses.gif'/>") else raw("<a href=#{catalogs_request_statuses_path}><img src='/images/vm_catalogs_request_statuses_off.gif' border=0/></a>") end %>
  </div>
  <div>
   <%=  if params[:controller]=='catalogs/priorities' then raw("<img src='/images/vm_catalogs_priorities.gif'/>") else raw("<a href=#{catalogs_priorities_path}><img src='/images/vm_catalogs_priorities_off.gif' border=0/></a>") end %>
  </div>
  <div>
   <%=  if params[:controller]=='catalogs/comment_types' then raw("<img src='/images/vm_catalogs_comment_types.gif'/>") else raw("<a href=#{catalogs_comment_types_path}><img src='/images/vm_catalogs_comment_types_off.gif' border=0/></a>") end %>
  </div>
  <div>
   <%=  if params[:controller]=='catalogs/suppliers' then raw("<img src='/images/vm_catalogs_suppliers.gif'/>") else raw("<a href=#{catalogs_suppliers_path}><img src='/images/vm_catalogs_suppliers_off.gif' border=0/></a>") end %>
  </div>
  <div>
   <%=  if params[:controller]=='catalogs/supplies' then raw("<img src='/images/vm_catalogs_supplies.gif'/>") else raw("<a href=#{catalogs_supplies_path}><img src='/images/vm_catalogs_supplies_off.gif' border=0/></a>") end %>
  </div>  
  <br/>