<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>..:: Coordinación de Servicios Administrativos UNAM ::.. </title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults , 'jquery-ui-1.8.7.js' %>
<%#= javascript_include_tag 'jquery', 'application' %>
<%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <!-- HEADER -->
  <div id="header-logo">
    <div id="unam-logo"> <img src="/images/unam.gif" /> </div>
  </div>
  <!-- TOP MENU -->
  <div id="h-menu">
    <div id="username">     
      <%= Administration::UserSession.find.record.attributes['name']%>      
    </div>
    <div id="h-menu-options">
       <%= render :partial => 'layouts/menu' %>
    </div>
  </div>
  <!-- CONTENT -->
  <div id="content">
    <!-- SLIDE BAR -->
    <div id="v-menu"> </div>
    <!-- PAGE -->
    <div id="page"> <%= yield %> </div>
  </div>
  <!-- FOOTER -->
  <div id="footer">
  (c) 2010
  </div>
</div>
</body>
</html>
